{:adoption/version 3 :consumer/id :code-graph
 :security/git-sha "b4ff9d8a56263030bc92539b101e1eeb2dbfce39"
 :required-control-namespaces [kotoba.security.effect]
 :security-sensitive-entrypoints
 {code-graph.core [kotoba.security.effect]}
 :sensitive-operations
 {code-graph.core/revoke-pin! [kotoba.security.effect]}
 :exceptions []}
